<div class="login-container">

  <video 
    class="bgvid" 
    id="bgvid" 
    autoPlay 
    loop
    poster="/assets/bgvideo-frame">
    <source src="http://res.cloudinary.com/code-genius/video/upload/v1456952528/codeGeniusBG_t5anlq.mp4" type="video/mp4"/>
  </video>

  <div class="login-form-container">

    <img class="login-form-logo" src="/assets/codegenius-logo-transparent" height="142" width="508">

    <form class="login-form" action="<%= session_url %>" method="post">
      <%= auth_token_input %>

      <div class="login-form-element">
        <label>Username</label>
        <span id="var">var<%= "&nbsp;".html_safe %></span> 
        Username<%= "&nbsp;".html_safe %>
        <span id="equals">=<%= "&nbsp;".html_safe %></span> 

        <input 
          type="text" 
          name="user[username]" 
          class="login-form-input"
          value=""
          autofocus>
        ;
      </div>

      <div class="login-form-element">
        <label>Password</label>
        <span id="var">var<%= "&nbsp;".html_safe %></span> 
        Password<%= "&nbsp;".html_safe %>
        <span id="equals">=<%= "&nbsp;".html_safe %></span> 

        <input 
          type="password" 
          name="user[password]" 
          class="login-form-input"
          value="">
        ;
      </div>

      <input type="submit" class="square-button btn-submit login-button" id="btn-1" value="Sign In">
    </form>

    <form method="get" action="<%= new_user_url %>">
      <input type="submit" class="square-button btn-noborder login-button" id="btn-2" value="Sign Up">
    </form>
         
  </div>

</div>
