<h1><%= @user.username %></h1>

<%= image_tag(@user.image_url, height: "84", width: "331") %>
<ul>
<li>Email: <%= @user.email %></li>
<li>Description: <%= @user.body %></li>
<li>IQ: <%= @user.iq %></li>

</ul>

<%= link_to("User JSON", api_user_url(@user.id)) %>


