<!DOCTYPE html>
<html>
<head>
  <title>CodeGenius</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
</head>
<body>

<header class="header">
  <div class="header-primary">
    <div class="header-searchbar">
      <p>SEARCHBAR GOES HERE</p>
    </div>

    <div class="header-logo">
      <a href="#" class="header-logo-link">
        <%= image_tag("codegenius-logo-small.png", height: "38", width: "202") %>
      </a>
    </div>

    <div class="header-actions">
      <div class="action-notification">
        Notif
      </div>
      <div class="user-info">
        IMG
        <div class="user-iq">
          100
        </div>
      </div>
    </div>
  </div>


  <nav class="header-nav">

    <div class="nav-link-box">
      <a class="nav-link" href="#">
      Language ▾
      </a>
    </div>

    <div class="nav-link-box">
      <a class="nav-link" href="#">
      Problem Type ▾⌵∨
      </a>
    </div>

    <div class="nav-link-box">
      <a class="nav-link" href="#">
      Add Snippet
      </a>
    </div>

    <div class="nav-link-box">
      <a class="nav-link" href="#">
      Test-link
      </a>
    </div>

  </nav>

</header>


<%= render "layouts/errors" %>

<%= yield %>

</body>
</html>



