<!DOCTYPE html>
<html>
<head>
  <title>CodeGenius</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
</head>
<body>

<% if signed_in? %>
  <strong>Signed in as: </strong><%= current_user.username %>
  <%= button_to "Sign Out", session_url, method: :delete %>
<% else %>
  <%= button_to "Sign In", new_session_url, method: :get %>
  <%= button_to "Sign Up", new_user_url, method: :get %>
<% end %>

<hr>

<%= render "layouts/errors" %>

<%= yield %>

</body>
</html>



