<!DOCTYPE html>
<html>
<head>
  <title>CodeGenius</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.ico' %>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:100, 400,700' rel='stylesheet' type='text/css'>

  <!-- css for highlight.js -->
<!--   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css"> -->

  <!-- js for highlight.js -->
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script> -->
  
</head>
<body>

<%= render "layouts/errors" %>

<%= yield %>

</body>
</html>



